@import '../../const.scss';

.s-team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 0;
    text-align: center;
    background-color:rgb(248, 244, 238);
    color: rgb(17, 17, 17);
    min-height: calc(100vh - #{$header-height} - #{$footer-height});

    &__title {
        font-size: 36px;
        margin-bottom: 70px;
    }
}

.l-team {
    --extra-margin: 10px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 calc(var(--extra-margin)*-1);

    &__card {
        width: 25%;
        padding: 0 var(--extra-margin);
    }

    &__cell {
        height: 100%;
        background-color: gray;
        padding-top: 10px;
        color: #fff;
        overflow: hidden;
        transition: transform 2s ease-out;
    }

    &__text-wrapper {
        margin-top: 10px;
        padding: 15px 5px 0 5px;
        background-color: rgb(99, 98, 98);
    }

    &__name {
        font-size: 18px;
    }

    &__photo {
        width: 200px;
        border-right: 5px gray solid;
        border-left: 5px gray solid;
    }
}

.l-team__position, .l-team__name{
    padding-bottom: 10px;
}

/*hover*/
.l-team__cell:hover {
    transform: scale(1.05);
}


@media (max-width: 576px) {
    .l-team {
        &__card {
            width: 50%;
        }
    }
    .l-team__card:nth-last-child(1), .l-team__card:nth-last-child(2) {
        padding-top: 15px;
    }
}

@media(max-width: 479px) {
    .s-team__title {
        font-size: 30px;
        margin-bottom: 40px;
    }
}