.f-registration {
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    flex-direction: column;
    width: 310px;
    border: 1px red solid;
    padding: 20px 60px;

    &__row {
        margin-top: 30px;
        text-align: center;
    }

    &__field-label {
        display: inline-block;
        font-size: 20px;
        margin-bottom: 10px;
    }

    &__field {
        border: 1px yellow solid;
        background-color: #fff;
        width: 200px;
        height: 30px;
        font-size: 16px;
        padding: 5px;

        &-error {
            margin-top: 5px;
            color: #f44336;
        }
    }

    

    &__btn-submit {
        margin-top: 40px;
        border: 1px green solid;
        color:#fff;
        font-size: 16px;
        padding: 20px 22px;
    }
}
