@import '../../const.scss';

.s-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 0;
    min-height: calc(100vh - #{$header-height} - #{$footer-height});
    background-color: rgb(34, 34, 34);
    text-align: center;

    &__title {
        font-size: 40px;
        color: #fff;
        margin-bottom: 20px;

        > span {
            color: green;
            font-size: 40px;
            text-transform: uppercase;
       }
    }

    &__text {
        color: #fff;
        font-size: 20px;
        line-height: 40px;
    }
}

@media(max-width: 576px) {
    .s-main {
        &__title {
            font-size: 30px;
            > span {
                font-size: 32px;
           }
        }
    
        &__text {
            font-size: 16px;
            line-height: 30px;
        }
    }
}