.f-login {
    display: flex;
    flex-direction: column;
    padding: 20px 60px;
    border: 1px red solid;

    &__field {
        margin-bottom: 30px;
        padding: 5px;
        width: 200px;
        height: 30px;
        border: 1px yellow solid;
        background-color: #fff;

        &-label {
            margin-bottom: 10px;
            font-size: 20px;
        }
    }

    &__btn-submit {
        padding: 20px 22px;
        border: 1px green solid;
        color: #fff;
    }
}
