@import '../../const.scss';

.s-userdata {
    min-height: calc(100vh - #{$header-height} - #{$footer-height});
    background-color: $background-color-grey;
    padding-top: 100px;
}

.l-userdata {
    display: flex;
    flex-direction: column;

    &__item {
        color: #fff;
        font-size: 20px;

        & + & {
            margin-top: 15px;
        }
    }
}
