@import '../../const.scss';

.s-userdata {
    min-height: calc(100vh - #{$header-height} - #{$footer-height});
    background-color: $background-color-grey;
    padding: 80px 0;
}

.l-userdata {
    display: flex;
    flex-direction: column;

    &__item {
        color: #fff;
        font-size: 20px;

        & + & {
            margin-top: 15px;
        }
    }
}

.f-edit-userdata {
    color: #fff;
    font-size: 20px;
    display: flex;
    flex-direction: column;

    &__row {
        margin-top: 30px;
    }

    &__field {
        margin-left: 20px;
        background-color: #fff;
        font-size: 18px;

        &-label {
            & + & {
                margin-top: 20px;
            }
            
        }

        &-error {
            margin-top: 5px;
            color: #f44336;
            font-size: 16px;
        }
    }

    &__btn-cancel {
        margin-left: 50px;
    }

    &-error-massage {
        margin-top: 10px;
        font-size: 10px;
        color: red;
    }
}

.btn-userdata-edit, .f-edit-userdata__btn-submit, .f-edit-userdata__btn-cancel {
    width: 170px;
    margin-top: 20px;
    font-size: 18px;
    border: 1px green solid;
    border-radius: 15px;
    padding: 5px 20px;
    color: #fff;
    transition: color 1s;
}

.btn-userdata-edit:hover, .f-edit-userdata__btn-submit:hover, .f-edit-userdata__btn-cancel:hover {
    color: green;
}

@media(max-width: 479px) {
    .l-userdata__item {
        font-size: 18px;
    }
    .f-edit-userdata {
        font-size: 16px;
        &__field {
            margin-left: 0;
            margin-top: 10px;
            &-label {
                display: flex;
                flex-direction: column;
            }
        }
        &__btn-wrap {
            display: flex;
            flex-direction: column;
        }
        &__btn-cancel {
            margin-left: 0;
        }
    }
} 