.s-team {
    background-color:rgb(248, 244, 238);
    color: rgb(17, 17, 17);
    min-height: calc(100vh - 100px - 40px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    &__title {
        font-size: 36px;
        margin-bottom: 70px;
    }
}

.l-team {
    --extra-margin: 10px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 calc(var(--extra-margin)*-1);
    &__card {
        width: 25%;
        padding: 0 var(--extra-margin);
    }
    &__cell {
        background-color: gray;
        padding-top: 10px;
        color: #fff;
        overflow: hidden;
        transition: transform 2s ease-out;
        img {
            border-right: 5px gray solid;
            border-left: 5px gray solid;
        }
    }
    &__text-wrapper {
        background-color: rgb(99, 98, 98);
        margin-top: 10px;
        padding-top: 15px;
        padding: 15px 5px 0 5px;
    }
    &__name {
        font-size: 18px;
    }
}
.l-team__position, .l-team__name{
    padding-bottom: 10px;
}
/*hover*/
.l-team__cell:hover {
    transform: scale(1.05);
}