@import '../../const.scss';
  
/*header*/
.header {
  padding: 30px 0;
  background-color: $background-color-grey;
  height: $header-height;
  border-bottom: 1px #fff solid;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    flex-shrink: 0;
    margin-right: 50px;
  }
}
.burger {
  display: none;
}

@media (max-width: 767px) {
  .burger {
    display: block;
    width: 37px;
    height: 29px;
    z-index: 1;
  }
  .burger.active {
    margin: 0 auto;
    margin-right: 0px;
  }
  .burger__span {
      transition: transform 0.2s;
  }
  .burger.active .burger__span:nth-child(1) {
      transform: rotate(45deg);
      position: absolute;
      top: 51px;
      width: 37px;
  }
  .burger.active .burger__span:nth-child(2) {
      display: none;
  }
  .burger.active .burger__span:nth-child(3) {
      transform: rotate(-45deg);
      position: absolute;
      width: 37px;
      top: 46px;
  }
  .burger__span {
    display: block;
    background-color:#fff;
    height: 3px;
  }
  .burger__span:nth-child(1) ~ .burger__span {
    margin-top: 6px;
  }
}