.b-modal-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    // display: inline-flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    height: 100%;
    padding: 30px 20px;
    background-color: black;
    color: #fff;
    opacity: 0.9;
    text-align: center;
    will-change: transform;
    overflow-y: auto;

    &__btn-close {
        font-size: 18px;
        padding: 10px;
        color: #fff;
    }
}